# Data Manipulation & Math
pandas
numpy
scipy

# Visualization
matplotlib
seaborn

# Machine Learning
scikit-learn
xgboost
lightgbm

# Utilities & Logging
python-dotenv
joblib
tqdm
jupyterlab

# Testing
pytest

# Dashboard
streamlit